<div class="headerStyle">
    <div class="logo">
        <p>Tv</p>
    </div>
   <div></div>
    <div class="icons">
        <a routerLink="main" routerLinkActive="router-link-active" >
            <mat-icon>home</mat-icon>
        </a>

       <ul>
       <a (click)="openLanguage()"> <li> <mat-icon>language</mat-icon></li></a>
        
        <div *ngIf="langugeChange" class="list">
            <li (click)="changeL('en')" > English <img
                src="../../../flagUsa.jpg" alt=""></li>
            <li (click)="changeL('he')" >Hebrew <img
                src="../../../glagIsrael.jpg" alt=""></li>
          </div>
       </ul> 

        <mat-icon>account_circle</mat-icon>
    </div>
</div>
<div class="search">
    <div class="p-inputgroup">
        <button routerLink="/search/{{searchInput}}/{{page}}" type="button" pButton pRipple label="Search"></button>
        <input type="text" pInputText placeholder="Keyword" [(ngModel)]="searchInput">         
</div>