<div class="avielble" *ngIf="avielble">
<div class="TvFlex" >
  <div class="search">
    <p-splitButton label="Sort By" icon="pi" [model]="items" styleClass="p-button-rounded mr-2 mb-2">
    </p-splitButton>
  </div>
  <div *ngFor="let item of allTv;let i=index">

    <div class="card">
      <a routerLink="/details/{{item.id}}/tv">
        <div class="img">
          <img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" *ngIf="item.poster_path; else img2">
          <ng-template #img2>
            <img src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}">
          </ng-template>
        </div>
        <div class="play">
          <div class="back">
            <div class="icon">

              <mat-icon>play_circle_outline</mat-icon>
            </div>
          </div>
        </div>
        <div class="content">
          <!-- <p>{{item.title}}</p> -->
          <p>{{item.original_name}}</p>

        </div>
      </a>

    </div>

  </div>

</div>
  <p-paginator [first]="PageK" [pageLinkSize]="longPage" [rows]="5" [totalRecords]="pages"
    (onPageChange)="pagaNumFunc($event,true)">
  </p-paginator>
</div>